/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@1&display=swap');

body{
    font-family: 'Aboreto', cursive;
    background-color: #F3F1FF;
    /* margin: 0; */
}
/* Our-client */
main{
    display:flex;
    align-items: center;
    flex-direction: column;
}
.container-1{
    background-color: rgb(1, 7, 7);
    color: white;
    margin-bottom: 5px;
    /* margin-left: 5%; */
    width: 80%;
    /* height: 1300px; */
    padding: 30px;
}
.first-section-title{
    margin-bottom: 15px;
}
.first-section-title{
    color: orangered;
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    font-size: 2.6rem;
    font-weight: 700;
}
.players{
    display: grid;
    grid-row-gap: 50px;
    grid-column-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}
.player img{
        width: 150px;
        height: 120px;
        border-radius: 20px;
}
.player{
    display: flex;
    align-items: center;
}
.player-name{
    margin-left: 20px;
}
hr{
    margin-top: 30px;
}
--------------
/* first-section-finished */
-----------------

/* second-section-start */

.top-catagories{
    margin-top: 5%;
}
.catagories{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 10%;
    grid-column-gap: 10px;
}
.catgory{
    display: flex;
}
.catgory .thumnail img{
    width: 250px;
    height: 300px;
}
.thumbnail-blog{
    margin-left: 20px;
}
.blog-para{
    font-size: 10px;
}
a{
    text-decoration: none;
    color: crimson;
    font-size: 20px;
}
/* first-conatainer-finished */
.container-2 {
    background-color: rgb(21, 32, 37);
    color: white;
    width: 80%;
    margin-top: 15%;
    /* height: 1300px; */
    padding: 30px;
}
/* 
====================last section============
 */
.projects{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.project .banners img{
    width: 80%;
    /* height: 50%; */
    box-shadow: 10px 10px 30px  rgb(142, 82, 94);
    border-radius: 10px;
}
.icon-flex{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    right: 20px;
}
.fa-star{
    color: rgb(207, 173, 0);
    font-size: 10px;
}
.fa-star-half-stroke{
    color:grey;
}
#icon{
    background-color: tomato;
    padding: 5px 20px;
    border-radius: 20px;
}
















@media screen and  (max-width:576px){
    body{
        margin: 0;
    }
    .container-1{
        width: 80%;
    }
    .container-2{
        width: 80%;
    }
    .players{
        grid-template-columns: repeat(1, 1fr);
    }
    .player{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .catagories{
        grid-template-columns: repeat(1, 1fr);
    }
    .catgory{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .projects{
        grid-template-columns: repeat(1, 1fr);
    }
    .project .banners img {
        width: 100%;
    }
}